data
training_logs
production_models
*.pyc
figs
figs_oldver
figures
benchmarks
benchmarks_no_elastic_bkg
benchmarks_2023Feb19
benchmarks_2023Feb20
benchmarks_2023Mar23
benchmarks_2023Mar28
benchmarks_2023Apr04
benchmarks_2023Apr05
benchmarks_backup